<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      div {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      a {
       
        font-size: 1.5rem;
      }
    </style>
  </head>
  <body>
    <div><a href="/auth">click here to SignUp with Google using OAuth 2.0</a></div>
  </body>
</html>
